body{
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: aquamarine;
 flex-direction: column;
}
.border{
 background-color: #0b67c4;
 padding: 45px;
 border-radius: 5px;
}
.padding{
 background-color: #42b3dd;
 padding: 45px;
 border-radius: 5px;
}
.content{
 background-color: #299baf;
 padding: 45px;
 font-size: 75px;
 border-radius: 5px;
}
#inputs{
 display: flex;
}
#sliders{
 margin-right: 30px;
}